body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #0776A0;
    width: 960px;
}

header img {
    padding: 20px 15px 21px 15px;
}

header a {
    border: 1px solid #FFB600;
    background-color: #FFB600;
    border-radius: 5px;
    position: absolute;
    margin-top: 30px;
    left: 135px;
    top: 35px;
}

ul {
    position: absolute;
    width: 868px;
    height: 210px;
    left: 41px;
    top: 612px;
    list-style: url("https://learn.logikaschool.com/uploads/2021/01/Arrow%201_0_1611261359.svg");
}

.big-one {
    position: absolute;
    width: 396px;
    height: 65px;
    left: 280px;
    top: 135px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
}

.big-two {
    position: absolute;
    width: 536px;
    height: 66px;
    left: 42px;
    top: 545px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FF2C00;

}

.big-three {
    position: absolute;
    width: 596px;
    height: 117px;
    left: 182px;
    top: 913px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    border-top: 5px solid black;
}

.img-one {
    position: absolute;
    width: 240px;
    height: 250px;
    left: 40px;
    top: 235px;
}

.img-two {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 310px;
    top: 235px;
}

.img-three {
    position: absolute;
    width: 380px;
    height: 250px;
    left: 540px;
    top: 235px;
}

.smile {
    position: absolute;
    width: 30px;
    height: 30px;
    padding-left: 25px;
}

.email {
    position: absolute;
    width: 120px;
    height: 29px;
    left: 79px;
    top: 1176px;
}

.tel {
    position: absolute;
    width: 801px;
    height: 37px;
    left: 79px;
    top: 1234px;
}
