body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 960px;
    height: 90px;
    left: 0px;
    top: 0px;
}
main {
    margin-top: 90px;
}

.rozklad {
    position: absolute;
    width: 135px;
    height: 30px;
    left: 155px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

.pro-zannyattya {
    position: absolute;
    width: 130px;
    height: 30px;
    left: 420px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

}

.adresy{
    position: absolute;
    width: 170px;
    height: 30px;
    left: 670px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}

h1 {
    position: absolute;
    width: 340px;
    height: 75px;
    left: 310px;
    top: 230px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: #000000;
}

p {
    position: absolute;
    width: 845px;
    height: 200px;
    left: 60px;
    top: 585px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 25px;

    color: #000000;
}

.email {
    position: absolute;
    height: 30px;
    left: 25px;
    top: 870px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-collapse: collapse;
    border: 20px solid black;
    border-radius: 0px;

    color: #000000;
    background-color: white;
}

.tel {
    position: absolute;
    height: 30px;
    left: 25px;
    top: 960px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border: 20px solid black;
    border-radius: 0px;

    color: #000000;
}